
/* navigation bar */
.customNav {
    position: fixed;
    width: 100%;
    background: url("../images/transparency.png");
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
  }
  
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
    background: skyblue;
  }
  
  .nav-item {
    margin: 0px 15px;
  }

  /* Jumbotron */
  .jumbotron {
      background-image: url(../images/rockOn_dark.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      min-width: 500px;
      color: white;
      text-align: center;
    }
    
   
  .display-4 {
      font-size: 2.5rem;
      font-weight: 300;
      line-height: 1.2;
      color: azure;
  }
  .lead {
      font-size: 1.25rem;
      font-weight: 300;
      color: seashell;
  }
  .jumbotron-img{
    height: 100px;
  }
  
  /* End Jumbotron */

  /* My Work */

  .Work{
    display: grid;
    justify-content: center;
    background-color: #00a5a5;
    margin: 28px;

  }
  /* skill section */

  .Skills{
    display: grid;
    justify-content: center;
    background-color: #00a5a5;
    margin: 44px;
    padding: 46px;
}
  
/*  End skill section */

/* Footer Section */
.footer{
  width: 90%;
  background-color:#228fb1;
  padding: 30px;
  margin: 20px;
}

.footer-elements{
  display: flex;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  font-size: large;
}
.footer-a { 
  color: rgb(0, 1, 3);
  font-size: 20px;
  padding: 28px; 
}
/* end of footer */


a:hover{
  background-color: rgb(107, 149, 9);
  box-shadow: 0px 5px 10px black
  
}